
<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN BOTTOM ABOUT BLOCK -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>挂号须知</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo consequat. </p>
        <p>Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>
      </div>
      <!-- END BOTTOM ABOUT BLOCK -->
      <!-- BEGIN BOTTOM INFO BLOCK -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>我要买</h2>
        <ul class="list-unstyled">
          <li><i class="fa fa-angle-right"></i> <a href="#">Delivery Information</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Customer Service</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Order Tracking</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Shipping & Returns</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="contacts.html">Contact Us</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Careers</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Payment Methods</a></li>
        </ul>
      </div>
      <!-- END INFO BLOCK -->
      <!-- BEGIN TWITTER BLOCK -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>我要卖</h2>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-twitter"></i></dt>
          <dd>
            <a href="#">@keenthemes</a>
            Imperdiet condimentum diam dolor lorem sit consectetur adipiscing
            <span>3 min ago</span>
          </dd>
        </dl>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-twitter"></i></dt>
          <dd>
            <a href="#">@keenthemes</a>
            Imperdiet condimentum diam dolor lorem sit consectetur adipiscing
            <span>3 min ago</span>
          </dd>
        </dl>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-twitter"></i></dt>
          <dd>
            <a href="#">@keenthemes</a>
            Imperdiet condimentum diam dolor lorem sit consectetur adipiscing
            <span>3 min ago</span>
          </dd>
        </dl>
      </div>
      <!-- END TWITTER BLOCK -->
      <!-- BEGIN BOTTOM CONTACTS -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>官方消息</h2>
        <address class="margin-bottom-40">
          35, Lorem Lis Street, Park Ave<br>
          California, US<br>
          Phone: 300 323 3456<br>
          Fax: 300 323 1456<br>
          Email: <a href="mailto:info@metronic.com">info@metronic.com</a><br>
          Skype: <a href="skype:metronic">metronic</a>
        </address>
      </div>
      <!-- END BOTTOM CONTACTS -->
    </div>
  </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer padding-top-15">
  <div class="container">
    <div class="row">
      <!-- BEGIN COPYRIGHT -->
      <div class="col-md-6 col-sm-6 padding-top-10">
        2018 © Metronic Aion Go ALL Rights.
      </div>
      <!-- END COPYRIGHT -->
      <!-- BEGIN PAYMENTS -->
      <div class="col-md-6 col-sm-6">
        <ul class="list-unstyled list-inline pull-right margin-bottom-15">
          <li><img src="/static/img/payments/western-union.jpg" alt="We accept Western Union" title="We accept Western Union"></li>
          <li><img src="/static/img/payments/american-express.jpg" alt="We accept American Express" title="We accept American Express"></li>
          <li><img src="/static/img/payments/MasterCard.jpg" alt="We accept MasterCard" title="We accept MasterCard"></li>
          <li><img src="/static/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
          <li><img src="/static/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa"></li>
        </ul>
      </div>
      <!-- END PAYMENTS -->
    </div>
  </div>
</div>
<!-- END FOOTER -->
