{extend name="public/template" /}
{block name="title"}Aion Go{/block}
{block name="css"}
<style>
 .sell-font{
    font-size:10px;background-color:#e3e3e3;margin-top:10px;color:#999
 }
.mg_bt20{margin-bottom: 20px;}
.hide{display: none;}
</style>
<link rel="shortcut icon" href="favicon.ico">
<link href="/favicon.ico" rel="SHORTCUT ICON" type="/image/ico">

<!-- Global styles END -->

<!-- Page level plugin styles START -->
<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
<link href="/static/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
<link href="/static/plugins/bxslider/jquery.bxslider.css" rel="stylesheet">
<link rel="stylesheet" href="/static/plugins/layerslider/css/layerslider.css" type="text/css">
<!-- Page level plugin styles END -->

<!-- Theme styles START -->
<link href="/static/css/style-metronic.css" rel="stylesheet" type="text/css">
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<link href="/static/css/style-responsive.css" rel="stylesheet" type="text/css">
<link href="/static/css/custom.css" rel="stylesheet" type="text/css">
<!-- Theme styles END -->

{/block}
{block name="body"}

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="{:url('index/index')}">首页</a></li>
            <li class="active">帐号出售</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40" >
          <!-- BEGIN CONTENT -->
          <div class="col-md-11col-sm-9 col-md-offset-1 ">
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">
                  <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post" action="{:url('user/uploads')}">
                    <fieldset>
                      <legend style="font-size:16px;">永恒之塔</legend>
                        <div  class="col-md-12 col-xs-12 img_box">
                            
                        </div>  
                        <div class="col-md-12 col-xs-12">
                            <input type="file"  class="upfile"  name="image[]" multiple="true">    
                      	</div>
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-20 padding-top-20">
                        <button type="submit" class="btn btn-primary">确认提交</button>
                        <a href="{:url('index/index')}"><button type="button" class="btn btn-default">取消</button></a>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-4 col-sm-4 pull-right">
                  <div class="form-info">
                    <h2><em>Important</em> Information</h2>
                    <p>请勿向他人透露你的帐号和密码</p>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
        {/block}
        {block name="js"}
        <script type="text/javascript">
            $('.upfile').change(function(){
                var imgUrl = getObjectURL(this.files[0]) ;
                $img_tmp=get_img_tmp();
                $img_tmp=$img_tmp.replace(/{img}/g,imgUrl);
                $('.img_box').append($img_tmp);

            })
               
            function getObjectURL(file){
                var url = null ;
                if (window.createObjectURL!=undefined) { // basic
                    url = window.createObjectURL(file);
                }else if (window.URL!=undefined) {
                    url = window.URL.createObjectURL(file) ;
                }else{
                    url = window.webkitURL.createObjectURL(file) ;
                }
              return url; 
            }

            function get_img_tmp(){
                return '<img src="{img}" class="col-md-3 mg_bt20">';   
            }
        </script>
        {/block}
    <!-- END BODY -->
</html>
